.profile-page {
	display: flex;
	flex-wrap: nowrap;

	p {
		font-size: 1.4rem;
		font-weight: 400;
		min-height: 21px;
		margin-bottom: 14px;
		padding: 0 7px;
		word-break: break-word;
	}

	.title-center {
		margin: 4rem auto 1.7rem !important;
	}

	.select-box {
		padding: 0.7rem 1.51rem;
	}

	label:not(.checkbox-round, .label-date-picker) {
		padding-left: 7px;
		font-size: 1.2rem;
		font-weight: 400;
		color: $color-link-text;
	}

	.nav-tabs {
		.nav-link:first-child {
			margin-left: 0;
		}
	}

	.title-info-personal {
		font-size: 1.8rem;
		line-height: 0.94;
		letter-spacing: 1.8px;
		color: $color-primary-text;
		text-align: center;
		margin-top: 0.9rem;
		margin-bottom: -2rem;
	}

	.btn-back {
		margin-top: 1rem !important;
		color: $color-fa-time;
		margin-top: 1rem !important;
		&:hover {
			color: $color-black;
		}
	}

	.content-left {
		background: $color-white;
		width: 200px;
		padding: 4rem 1.6rem;
		background-color: $color-white;

		&__field-content {
			margin-bottom: 14px;
		}

		&__field-content p {
			white-space: nowrap;
			width: 16.6rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.content-right {
		padding: 0 4.5rem 5rem 4.5rem;

		&__footer {
			flex-direction: column;
			display: flex;
			align-items: center;
			margin-top: 4.9rem;

			a {
				display: flex;
				margin-top: 1.7rem;
			}
		}
	}

	.form__input {
		display: none;
	}

	p {
		display: block;
	}

	.form-update {
		p {
			display: none;
		}

		.validation-error {
			display: block;
		}

		.form__input {
			display: block;
		}

		label {
			color: $color-primary-text;
		}

		.only-show p {
			display: block;
		}

		.only-show label {
			color: $color-link-text;
		}
	}

	.row > .col-md-6:nth-child(2n) {
		padding-left: 4.85rem;
	}

	.row > .col-md-6:nth-child(2n-1) {
		padding-right: 4.85rem;
	}

	&__content {
		width: auto;

		&:first-child {
			margin-right: 2.05rem;
		}

		&:last-child {
		}
	}

	&__content-tabs {
		background-color: $color-white;
	}

	&__block-avatar {
		margin-bottom: 1.6rem;
		text-align: center;
		position: relative;
		.icon-camera {
			position: absolute;
			bottom: 0px;
			right: 5rem;
			padding: 0 0.5rem;
			border-radius: 50%;
			cursor: pointer;
			background-color: rgba(34, 34, 34, 0.61);
		}

		.fa-camera {
			color: $color-white;
		}
	}

	&__avatar {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		cursor: pointer;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}

	&__title {
		font-size: 1.8rem;
		font-weight: 400;
		color: $color-primary-text;
	}
}

.staff-detail-page {
	@media screen and (max-width: 1150px) {
		.profile-page {
			flex-flow: column;
		}

		.profile-page p {
			margin-bottom: 0.75rem;
		}

		.profile-page__content {
			margin-bottom: 2rem;
			margin-right: 0;
		}

		.content-left,
		.content-left__field-content p {
			width: 100%;
		}

		.profile-page__block-avatar {
			display: none;
		}

		.profile-page .content-left {
			padding: 3.87rem 1.5rem;
		}

		.profile-page .content-right {
			padding: 0 1.5rem 3.2rem 1.5rem;
		}

		.row > .col-md-6:nth-child(2n) {
			padding-left: 1.35rem;
		}

		.row > .col-md-6:nth-child(2n-1) {
			padding-right: 1.35rem;
		}

		a#btn-go-to-edit-cv {
			min-width: 10.7rem;
			margin-right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.btns-action {
			display: flex;
			align-items: center;
		}

		.profile-page .btn-download {
			margin-right: 1rem;
			margin-left: 0;
		}

		.profile-page .title-table {
			margin: 1.7rem auto 1.7rem 0 !important;
		}

		.table th {
			line-height: 1.6rem;
		}

		.form-project-input > tbody > tr > th {
			width: 11.5rem;
			min-width: 11.5rem;
			padding: 0.5rem;
		}

		.form-project-input
			> tbody
			> tr:nth-child(2)
			> td
			> table
			> tbody
			> tr
			> th {
			width: 5.6rem;
			line-height: 1.6rem !important;
			padding: 0.5rem;
			font-size: 1.2rem;
			height: 4rem;
		}

		.form-project-input
			> tbody
			> tr:nth-child(2)
			> td
			> table
			> tbody
			> tr
			> td {
			padding: 0.4rem;
			font-size: 1.2rem;
		}

		.checkbox-round {
			width: 100%;
		}

		.separator__label {
			margin: 3.3rem 0 2.7rem 0;
		}

		.u-mb-38 {
			margin-bottom: 1.6rem;
		}

		.u-mb-28 {
			margin-bottom: 0 !important;
		}

		.u-mb-14 {
			margin-bottom: 0.75rem !important;
		}
	}

	@media screen and (max-width: 575px) {
	}

	@media screen and (max-width: 414px) {
	}

	@media screen and (max-width: 413px) {
		.process-end > td > table > tbody > tr > th {
			width: 9rem;
		}

		.btn.--sm {
			min-width: 10rem;
			width: 10rem;
		}

		a#btn-go-to-edit-cv {
			min-width: 8.7rem;
			width: 8.7rem;
			height: 100%;
			height: 5.2rem;
			padding: 1.5rem;
		}

		.form-project-input
			> tbody
			> tr:nth-child(2)
			> td
			> table
			> tbody
			> tr
			> th {
			width: 3.6rem;
			padding: 0.5rem;
			font-size: 1.2rem;
			height: 4rem;
		}
	}

	@media screen and (max-width: 375px) {
		.main-content .container {
			padding: 4rem 0.8rem 9.3rem;
		}

		.btn.--sm {
			min-width: 8.5rem;
			width: 8.5rem;
		}

		a#btn-go-to-edit-cv {
			min-width: 7.7rem;
			width: 7.7rem;
			padding: 1.3rem;
		}
		.form-project-input > tbody > tr > th {
			width: 9.5rem;
			min-width: 9.5rem;
			padding: 0.5rem;
		}

		.process-end > td > table > tbody > tr > th {
			width: 9rem;
		}

		.form-project-input
			> tbody
			> tr:nth-child(2)
			> td
			> table
			> tbody
			> tr
			> td {
			padding: 0.4rem;
		}
	}

	@media screen and (max-width: 320px) {
		.process-end > td > table > tbody > tr > th {
			width: 8rem;
		}

		.form-project-input > tbody > tr > th {
			width: 7.5rem;
			min-width: 7.5rem;
			padding: 0.5rem;
			font-size: 1.2rem;
		}

		.form-project-input
			> tbody
			> tr:nth-child(2)
			> td
			> table
			> tbody
			> tr
			> th {
			width: 2.8rem;
		}
	}
}
