.notification-edit-page {
	.content-right__footer {
		flex-direction: column;
		display: flex;
		align-items: center;
		margin-top: 4.9rem;
	}
	.btn-back {
		margin-top: 1rem !important;
	}

	.u-pd-20 {
		padding: 0rem 2rem;
	}

	.u-unset-margin {
		margin: unset;
	}

	.card {
		margin-right: 35rem;
	}

	.tag-box-name-company {
		padding: 1.13rem 1.5rem;
		overflow: unset;
		.icon-search {
			position: absolute;
			color: $color-fa-time;
			left: 13.5rem;
			top: 2.5rem;
		}
	}

	.suggest-search {
		list-style: none;
		background-color: #fff;
		top: 3.7rem;
		z-index: 99;
		max-height: 14rem;
		cursor: default;
		overflow: auto;
		border-bottom: 1px solid #dee2e6;
		border-left: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		border-radius: 0.4rem;
		width: 40rem;
		&__item:hover {
			background: #006fe6;
			color: #fff;
		}
	}
	.tag-box {
		max-height: 13.6rem;
		overflow-y: scroll;
		.tag {
			background-color: #143268;
			color: #fff;
		}
	}

	.u-over-flow-auto-scroll {
		&::-webkit-scrollbar-track {
			background: $color-white;
		}
	}
	.search-box__input {
		width: 15.2rem;
		padding: 0.9rem 4rem 0.9rem 0rem;
	}

	@media screen and (max-width: 992px) {
		.u-pr-unset {
			padding-right: 0.75rem;
		}
	}

	@media screen and (max-width: 768px) {
		.card {
			margin-right: 0;
		}

		.modal-header {
			padding-top: 0;
		}

		.col-md-3 {
			padding-right: 0.75rem !important;
		}

		.main-content-heading-main {
			margin-right: 0;
		}
	}

	@media screen and (max-width: 567px) {
		.modal-header {
			padding: 0;
		}

		.modal-body {
			padding-left: 0;
			padding-right: 0;
		}

		.search-box__input {
			padding-right: 2rem;
		}

		.search-box__input {
			width: 13.2rem;
		}
	}
}
