@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin inputBase {
	padding: 0.5rem 1.51rem;
	width: 100%;
	border-radius: 0.4rem;
	border: solid 0.1rem $color-input;
	font-size: inherit;
	line-height: 1.5;
}
@mixin flexCenterItem {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flexCenterVerticalItem {
	display: flex;
	align-items: center;
}
@mixin flexSpaceBetween {
	display: flex;
	justify-content: space-between;
}
@mixin oneRow($spacing, $size: '') {
	$name: '';
	@if $size != '' {
		$name: '-#{$size}';
	}

	&-row#{$name} {
		display: flex;
		align-items: flex-end;
		flex-wrap: nowrap;
		margin-left: -1 * calc($spacing/2);
		margin-right: -1 * calc($spacing/2);
		.column {
			padding: 0 calc($spacing/2);
			flex-basis: 100%;
		}
	}
}
@mixin transition($property: all, $duration: 1s, $delay: 0) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
}
