.invitation-code-list-page {
	.card-table {
		margin-top: 2.2rem;
		word-break: break-all;
	}

	.content-header {
		margin-bottom: 1rem;
	}

	.column {
		text-align: left;
	}

	.dataTables_wrapper {
		word-break: break-word;
	}

	.thead-date{
		min-width: 11rem;
	}
	.thead-title{
		min-width: 15rem;
	}
	.thead-price{
		min-width: 10rem;
	}

	.action {
		width: 11rem;
	}

	.btn-add-company {
		margin: unset;
	}

	button:focus-visible {
		outline: none;
	}

	.btn-confirm-delete,
	.btn-confirm-update,
	.btn-update {
		width: 4rem;
		border: unset;
		color: $color-link-text;
		font-size: 1.8rem;
		background: transparent;

		&:hover {
			color: $color-black;
		}
	}

	.modal-footer {
		padding-top: 0;
	}

	.status {
		color: $color-white;
		border: solid 1px;
		padding: 0.6rem 0.5rem;
		width: 8rem;
		display: block;
		text-align: center;
		border-radius: 0.4rem;

		&.--active {
			background-color: $color-success;
		}

		&.--inactive {
			background-color: $color-text-note;
		}
	}
}
