//Color
$color-white: #fff;
$color-white-disable: rgba(255, 255, 255, 0.7);
$color-default-trash: #777a7d;
$color-black: #000;
$color-bg-table-cv-header: #f2f2f2;
$color-primary: #143268;
$color-primary-button: #bfd6ff;
$color-primary-border: #006fe6;
$color-hover-button-primary: #284579;
$color-btn-hover: #173c80;
$color-border-tab-active: #0b4ec6;
$color-danger: #c95c54;
$color-danger-disabled: #e89a9a;
$color-warning: #fad74a;
$color-success: #28a745;
$color-border-default: rgba(112, 112, 112, 0.14);
$color-border-box-shadow: rgba(0, 0, 0, 0.03);
$color-border: #dee2e6;
$color-shadow-header: rgb(0 0 0 / 16%);
$color-input: #b2b2b2;
$color-primary-text: #222222;
$color-text-note: #7e7e7e;
$color-text-desc: #c7c1c1;
$color-link-text: #aaaaaa;
$color-text-title: #222;
$color-text-sub-page-title: #c7c1c1;
$color-background-title-gray: rgba(112, 112, 112, 0.12);
$color-btn-gray: #d9d9d9;
$color-badge-normal: #626262;
$color-background-sidebar: #222;
$color-background-sidebar-hover: rgba(255, 255, 255, 0.1);
$color-background-modal: rgba(228, 228, 228, 0.38);
$color-fa-time: #aaaaaa;
$color-hover-button-primary: #284579;
$color-hover-button-danger: #cd6860;
$color-bg-table-header: rgba(20, 50, 104, 0.12);
$color-bg-table-hover: rgba(0, 0, 0, 0.075);
$color-separate: rgba(20, 50, 104, 0.36);
$color-danger-hover: #ff1100;
$color-input-card-table: #f8f7f7;
$color-background-body: #f7f8fa;
$color-border-img: #2153ac;
$color-drop-down-hover: #f3f4f7;
$color-tag-item: #f8f7f7;
$color-bg-search-form-header: #e2e6ed;
$color-background-input-error: rgba(201, 92, 84, 0.04);
$color-disable-button: #385993;
$color-card-title-border: #ededed;
$color-user-list-bg-hover: rgba(20, 50, 104, 0.05);
$color-bg-input-error: rgba(201, 92, 84, 0.07);
$color-placeholer-select: #808080;
$color-background-modal: #ffffffb6;
//Size
$width-sidebar: 25rem;
$height-header: 41px;
