$color-white: #fff;
$color-white-disable:rgba(255,255,255,.7);
$color-default-trash: #777a7d;
$color-black: #000;
$color-bg-table-cv-header: #f2f2f2;
$color-primary: #007bff;
$color-primary-border: #006fe6;
$color-danger: #dc3545;
$color-success: #28a745;

$color-border-default: #ced4da;

$color-scrollbar-default: rgb(208, 208, 208);
$color-scrollbar-hover: rgb(165, 165, 165);
