.payment-page {
	.container {
		min-height: calc(100vh - $height-header);
		display: flex;
		flex-direction: column;
	}
	.content {
		flex-grow: 1;
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0rem 11rem 1.1rem 11rem;
		.u-ml-sidebar {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}
		.nav {
			&-tabs {
				margin-bottom: unset;
			}
			&-link {
				margin: unset;
				margin-right: 2.5rem;
			}
		}
	}

	.tab {
		padding: 2.5rem 4.5rem 5.5rem 4.5rem;
	}

	.list-staff {
		margin-top: 7.85rem;

		&__input-search {
			min-width: 30rem;
			padding-left: 1.51rem;
			border: solid 1px #d9d9d9;
			outline: none;
			height: 3.4rem;
			letter-spacing: 0.14rem;
			border-radius: 0.4rem;
		}

		&__input-search::placeholder {
			color: $color-link-text;
			font-weight: 500;
		}

		&__content {
			margin-top: 0.7rem;
			margin-bottom: 0;
		}

		&__icon-search {
			position: absolute;
			right: 1.5rem;
			top: 1rem;
			color: $color-link-text;
		}

		&__btn-cancel {
			min-width: 3rem;
			height: 2.47rem;
			font-size: 1.2rem;
			padding: 0.3rem 0;
			color: $color-black !important;
			background-color: transparent;
			border-color: transparent;
		}

		&__btn-cancel:hover {
			background-color: transparent;
		}

		&__icon-cancel {
			width: 3rem;
			height: 2rem;
			display: inline-flex;
			font-size: 2.6rem;
			align-items: flex-end;
		}
	}

	.checkbox__input {
		margin: 0 !important;
	}

	.--color-black {
		color: $color-black !important;
	}

	.dataTables_filter {
		display: none !important;
	}
	.dropdown {
		margin-left: 1.6rem;

		.dropdown-menu button {
			color: $color-danger;
		}
	}

	.btns-action-top {
		display: flex;

		&__dropdown-menu {
			padding: 0;
			inset: -2px auto auto 0px !important;
		}

		&__btn {
			width: 16rem;
			padding: 0.6rem 1rem;
			background-position: calc(100% - 1rem) center !important;
			background-color: $color-white;
			border: solid 1px $color-btn-gray;
			border-radius: 0.4rem;
			color: $color-primary;
		}
		&__btn.--disabled {
			background-color: $color-border;
		}

		&__btn:hover {
			background-color: $color-drop-down-hover;
		}
	}

	.extend-content {
		position: relative;

		&__popup {
			background-color: red;
			position: absolute;
			top: 2.5rem;
			left: -6.5rem;
			z-index: 10000;
			border: solid 1px $color-btn-gray;
			border-radius: 0.2rem;
			color: $color-black;
			@media screen and (max-width: 768px) {
				left: -8rem;
			}
		}

		.--color-danger {
			color: $color-danger;
		}

		ul {
			list-style: none;
		}
	}

	.subscription {
		.block-csv {
			margin-top: 1rem;
		}
		&__info {
			display: flex;
			justify-content: space-between;
		}
		&__describe {
			margin-left: 2rem;
			color: $color-fa-time;
			padding-top: 0.4rem;
		}

		&__left {
			width: 63%;
		}
		&__title {
			display: flex;
			margin-bottom: 5.3rem;
		}

		&__title label{
			width: 22rem;
		}
		&__el {
			padding: 0rem 2.2rem 0rem 1.7rem;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5rem;
		}
		&__el:nth-child(2) {
			background: $color-input-card-table;
			padding: 2rem 2.2rem 2rem 1.4rem;
		}
	}
	.up-coming-invoice {
		&__notice {
			line-height: 1.85rem;
			color: $color-link-text;
			&-up {
				margin-top: 1.2rem;
				margin-bottom: unset;
			}
			&-down {
				margin-bottom: 1.9rem;
			}
		}

		.table {
			font-size: 1.3rem;
			letter-spacing: 0.13rem;
			line-height: 2.5rem;
			font-weight: 500;
			border-color: $color-white;
			td,
			th {
				text-align: right;
				padding-right: 4rem;
			}
			td {
				padding-bottom: 0px;
				line-height: 1.4;
			}
		}
	}
	.invoices {
		&__title {
			display: block;
			margin-bottom: 2.65rem;
			line-height: 0.94;
		}
		.table {
			text-align: center;
			overflow: auto;
		}
	}
	.info-company {
		&__header {
			position: relative;
		}

		&__footer {
			text-align: center;
		}
		&__mutiple {
			display: flex;
			justify-content: space-between;
			div:nth-child(1) {
				width: 50%;
				padding-right: 4rem;
			}
			div:nth-child(2) {
				width: 50%;
				padding-left: 4rem;
			}
		}
		&__only {
			width: 50%;
			padding-right: 4rem;
		}
		&__title {
			display: inline-block;
			padding-bottom: 2.7rem;
			line-height: 0.94;
		}
		#btn-change {
			margin-top: 0rem;
			position: absolute;
			right: 0px;
			i {
				padding-right: 1rem;
			}
		}
		#btn-confirm,
		#btn-save {
			display: block;
			margin-bottom: 1.1rem;
		}
		.form__group {
			margin-bottom: 1.3rem;
		}
		.form__label {
			line-height: 1.4;
			color: $color-link-text;
			font-size: 1.2rem;
		}
		p.border-bottom {
			margin-bottom: unset;
			line-height: 1.4;
			font-weight: 500;
			min-height: 2.2rem;
		}
		.form__input {
			display: block;
		}
		p.border-bottom {
			display: none;
		}
		.form-read-only .only-df-mb {
			margin-bottom: 3.6rem !important;
		}
	}
	.payment-content {
		margin: 0rem 4rem;
	}

	.btn-csv {
		margin-top: 0;
		padding: 0.4rem 1rem;
		color: $color-primary;
		background-color: $color-white;
		border-color: $color-primary;
	}
	.disabled {
		color: $color-default-trash;
		pointer-events: none;
		border-color: $color-default-trash;
	}
	#btn-cancel {
		border-radius: 0;
	}
	#btn-import-csv {
		padding: 0.4rem 2.5rem;
	}
	.table .t-head-no-break {
		min-width: 11rem;
	}
	.dataTables_wrapper {
		.u-over-flow-auto-scroll {
			overflow: unset;
		}
	}
	@media screen and (max-width: 992px) {
		.block-csv {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		#btn-import-csv {
			padding: 0.4rem 2.4rem;
		}
		#form-export-csv {
			margin-right: 1.1rem;
		}
		#form-export-csv button {
			padding: 0.4rem 1.2rem;
		}
		.dataTables_wrapper {
			.u-over-flow-auto-scroll {
				overflow: overlay;
			}
		}
		.main-content-heading {
			padding: 0 0.5rem;
		}
		.payment-content {
			margin: unset;
		}
		.tab {
			padding: 0.5rem 1rem 5.5rem;
		}

		.list-staff__content {
			margin-bottom: 0;
		}

		.info-company__only {
			width: 100%;
			padding-right: unset;
		}
		.info-company__mutiple {
			display: unset;
			div:nth-child(2) {
				padding-left: unset;
				width: 100%;
			}
			div:nth-child(1) {
				width: 100%;
				padding-right: unset;
			}
		}

		.table .t-head-name {
			min-width: 15rem;
		}

		.tabs-block .nav-tabs {
			padding: 0rem 0.5rem;
			.nav-link {
				margin: unset;
				padding: 1rem 0.5rem;
				word-break: keep-all;
			}
		}
		.nav {
			flex-wrap: unset;
		}
		.subscription__describe {
			display: none;
			padding-top: 0.4rem;
		}

		.table {
			.extend-content__popup {
				left: -12rem;
			}
			tr {
				&:nth-last-child(2) {
					.extend-content__popup {
						top: -7.5rem;
					}
				}
				&:last-child {
					.extend-content__popup {
						top: -7.5rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 375px) {
		.tab.subscription {
			padding: 0.5rem 0.5rem;
		}
	}
	@media screen and (max-width: 550px) {
		.list-staff__content {
			margin-top: 4.7rem;
		}
		.block-csv {
			float: right;
		}
		.subscription__left {
			width: 68%;
		}
		.list-staff {
			margin-top: 2rem;
		}
		.btn {
			font-size: 1.3rem;
		}
		.none-flex {
			display: block !important;
		}
		.btns-action-top {
			justify-content: flex-end;
		}

		.btns-action-top__btn {
			width: 11rem;
		}
		.btns-action-top .btn.--md {
			margin: unset;
			line-height: 3rem;
			padding: 0.2rem 0.5rem;
			height: unset;
		}

		.list-staff__title {
			padding-bottom: 1rem;
			font-size: 1.8rem;
		}
		#btn-import-csv {
			padding: 0.4rem 1.3rem;
		}
		#form-export-csv button {
			padding: 0.4rem 0.7rem;
		}
	}

	@media screen and (max-width: 425px) {
		#custom-tabs-four-tab {
			justify-content: flex-end;
		}
		.extend-menu {
			position: relative;
			padding: 1rem;
		}

		.extend-menu i {
			font-size: 2.5rem;
		}
		.extend-menu ul {
			list-style: none;
		}
		.extend-menu li:hover {
			background-color: $color-drop-down-hover;
		}
		.extend-menu li a {
			color: black !important;
			height: unset;
		}
		.extend-menu .list-menu {
			position: absolute;
			border: solid 1px $color-btn-gray;
			left: -10rem;
			background-color: $color-white;
			z-index: 9;
		}
		.table {
			.extend-content__popup {
				left: -8rem;
			}
			tr {
				&:nth-last-child(2) {
					.extend-content__popup {
						top: -7.5rem;
					}
				}
				&:last-child {
					.extend-content__popup {
						top: -7.5rem;
					}
				}
			}
		}

		.list-staff__title {
			font-size: 1.3rem;
		}
		.tab {
			padding: 0.5rem 1rem 3.5rem;
		}
	}
}

.modal-change,
.modal-register {
	&-el {
		display: flex;
		justify-content: space-between;
		margin-top: 1.8rem;
	}
	#el-1 {
		margin-top: 1rem;
	}

	&-content {
		width: 20%;
		display: block;
		text-align: center;
		input {
			width: 100%;
			text-align: center;
			padding-left: 1.5rem;
			outline: none;
			border: solid 1px $color-input;
			border-radius: 4px;
			color: $color-black;
		}
	}
	&--quantity-old {
		border: none !important;
		background-color: $color-white;
	}
}
