.u-with-100-percent {
	width: 100%;
}
.u-max-width-800 {
	max-width: 800px;
}
.u-max-width-492 {
	max-width: 492px;
}
.u-max-width-470 {
	max-width: 470px;
}
.u-max-width-550 {
	max-width: 500px;
}

.u-width-200 {
	width: 20rem;
}

.u-text-align-left {
	text-align: left;
}

.u-text-align-center {
	text-align: center !important;
}

.u-text-align-right {
	text-align: right;
}
.u-display-block {
	display: block !important;
}

.u-display-inline-block {
	display: inline-block !important;
}

.u-display-inline-grid {
	display: inline-grid !important;
}

.card-shadow {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
	border: solid 1px $color-border-default;
	background-color: $color-white;
}
.shadow-wrapper {
	margin-bottom: 159px;

	.inner-shadow {
		padding: 7.7rem 0;
	}
}

.u-text-align-left {
	text-align: left !important;
}

.u-text-align-center {
	text-align: center !important;
}

.u-text-align-right {
	text-align: right;
}
.u-border {
	border: 1px solid transparent;
	&.--none {
		border: none;
	}
	&.--full {
		border-color: $color-border-default;
	}
	&.--top {
		border-top-color: $color-border-default;
	}
	&.--left {
		border-left-color: $color-border-default;
	}
	&.--bottom {
		border-bottom-color: $color-border-default;
	}
	&.--right {
		border-right-color: $color-border-default;
	}
}

.u-inner-title {
	padding: 64px 40px 32px 40px;
}

.u-mb-41 {
	margin-bottom: 4.1rem !important;
}

.u-mb-38 {
	margin-bottom: 3.8rem;
}

.u-mb-5 {
	margin-bottom: 0.5rem;
}

.u-mb-36 {
	margin-bottom: 3.6rem !important;
}

.u-mb-28 {
	margin-bottom: 2.8rem !important;
}

.u-mb-14 {
	margin-bottom: 1.4rem !important;
}

.u-mb-34 {
	margin-bottom: 3.4rem !important;
}

.u-mb-20 {
	margin-bottom: 2rem !important;
}

.u-mb-8 {
	margin-bottom: 0.8rem !important;
}

.u-mb-11 {
	margin-bottom: 1.1rem !important;
}

.u-mb-10 {
	margin-bottom: 1rem !important;
}

.u-mb-0 {
	margin-bottom: 0rem !important;
}

.u-mt-40 {
	margin-top: 4rem !important;
}

.u-mb-28 {
	margin-bottom: 2.8rem;
}

.u-mb-14 {
	margin-bottom: 1.4rem !important;
}

.u-mb-77 {
	margin-bottom: 0.77rem !important;
}

.u-mb-24 {
	margin-bottom: 2.4rem !important;
}

.u-mt-42 {
	margin-top: 4.2rem !important;
}

.u-mt-26 {
	margin-top: 2.6rem !important;
}

.u-mb-9 {
	margin-bottom: 0.9rem !important;
}

.u-mb-35 {
	margin-bottom: 3.5rem !important;
}

.u-ml-16 {
	margin-left: 1.6rem !important;
}

.u-ml-0 {
	margin-left: 0rem !important;
}
.u-mb-36 {
	margin-bottom: 3.6rem !important;
}

.u-ml-sidebar {
	margin-left: $width-sidebar;
}

.u-lh-17 {
	line-height: 1.7rem !important;
}

.u-lh-3 {
	line-height: 3;
}
.u-pl-15 {
	padding-left: 1.5rem !important;
}

.u-pl-43 {
	padding-left: 4.3rem !important;
}

.u-pt-20 {
	padding-top: 2rem !important;
}

.u-pt-5 {
	padding-top: 0.5rem !important;
}

.u-unset-height {
	height: unset !important;
}
.u-nowrap-space {
	white-space: nowrap;
}

.u-pre-white-space {
	white-space: pre;
}

.u-mt-20 {
	margin-top: 2rem;
}

.u-mt-55 {
	margin-top: 5.5rem;
}

.u-mr-5 {
	margin-right: 5rem;
}

.u-mr-1 {
	margin-right: 1rem;
}
.u-ml-5 {
	margin-left: 0.5rem;
}

.u-word-break-all {
	word-break: break-all;
}
.u-with-500 {
	width: 50rem;
}

.u-min-with-120 {
	min-width: 12rem;
}
.u-min-with-80 {
	min-width: 8rem;
}
.u-over-flow-hidden {
	overflow: hidden;
}
.u-lh-1 {
	line-height: 1;
}
.u-lh-15 {
	line-height: 1.5;
}
.u-over-flow-auto-scroll {
	overflow: overlay;
	&::-webkit-scrollbar {
		width: 0.3rem;
		height: 0.4rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $color-bg-table-cv-header;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $color-text-desc;
		border-radius: 0.2rem;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $color-text-note;
	}
}

.u-over-flow-auto-scroll-margin-left {
	overflow: overlay;
	&::-webkit-scrollbar {
		width: 0.3rem;
		height: 0.4rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $color-bg-table-cv-header;
		margin-left: 1.5rem;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $color-text-desc;
		border-radius: 0.2rem;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $color-text-note;
	}
}

.u-pointer-events-none {
	pointer-events: none;
}

.u-border-bottom-none {
	border-bottom: none !important;
}

.u-pr-unset {
	padding-right: unset;
}

@media screen and (max-width: 768px) {
	.d-none-res {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.scroll-box {
		overflow: scroll;
	}
	.d-none-res-425 {
		display: none;
	}
	.d-block-res-425 {
		display: block !important;
	}
}
