.changed-password {
    text-align: center;
    .title {
		color: $color-primary-text;
        line-height: 1.7rem;
	}
	.desc {
        line-height: 1.2rem;
		margin-top: 1rem;
		color: $color-text-desc;
	}
    .btn {
        margin-top: 2.7rem;
        width: 100%;
    }
    .login-box {
        padding: 8rem 4rem;
    }
    #text-top {
        line-height: 1.7rem;
        margin-bottom: 2.5rem;
    }
    #text-bottom {
        line-height: 2.1rem;
    }

	.loading {
		padding-left: 0;
	}

	@media screen and (max-width:414px){
		.login-box{
			padding: 4rem 2.3rem;
		}
	}

	@media screen and (max-width:320px){
		.login-box{
			padding: 4rem 0;
		}
	}
}
