.reset-password {
	text-align: center;
	.title {
		color: $color-primary-text;
		line-height: 1.7rem;
	}
	.desc {
		line-height: 1.2rem;
		margin-top: 1rem;
		color: $color-text-desc;
	}
	.btn {
		margin-top: 0.3rem;
		width: 100%;
	}
	.link.--dark {
		margin-top: 2.38rem;
	}

	.loading {
		padding-left: 0;
	}

	@media screen and (max-width: 414px) {
		.login-box {
			padding: 4rem 2.3rem;
			margin-top: 5.3rem;
		}

		.card{
			border: unset;
			box-shadow: unset;
		}
	}

	@media screen and (max-width: 320px) {
		.login-box {
			padding: 4rem 0;
		}
	}

}
