.card {
	margin-top: 3.4rem;
	background-color: $color-white;
	min-width: 55.1rem;
	border: solid 1px $color-border-default;
	box-shadow: 0 3px 6px 0 $color-border-box-shadow;
	padding: 4rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	&__title {
		@extend .text-xl;
		margin-bottom: 2.6rem;
		font-weight: 400;
	}

	&__content {
		@extend .text-sm;
		color: $color-input;
		margin-bottom: 2.8rem;
	}

	&.--md {
		width: 68rem;
	}

	&.--has-modal {
		position: static;
		left: unset;
		transform: unset;
	}

	@media screen and (max-width: 768px) {
		width: auto !important;
		min-width: auto;
		padding: 3.1rem 1.6rem 5.5rem;

		.page-setting-index .card__title {
			margin-bottom: 0.8rem;
		}

		.card-form-table &.--md{
			padding: 1.63rem;
		}

		.card__content{
			margin-bottom:3rem;
		}

	}
}
