.table {
	border: 1px solid $color-btn-gray;
	background-color: $color-white;
	color: $color-primary-text;
	font-size: 1.4rem;
	letter-spacing: 0.14rem;
	width: 100%;
	table-layout: auto;
	overflow: auto;

	tbody tr {
		border-bottom: 1px solid $color-btn-gray;
		transition: all 0.1s ease;
	}

	th {
		background-color: $color-bg-table-header;
		line-height: 1.7rem;
		text-align: center;
	}

	td,
	th {
		padding: 1rem;
	}

	&__border {
		border: 1px solid transparent;

		&.--right {
			border-color: $color-btn-gray;
		}
	}

	&.--hover {
		tbody tr:hover {
			background-color: $color-bg-table-hover;
		}
	}

	&.--bordered {
		border-collapse: collapse;

		tr,
		td,
		th {
			border: 1px solid $color-btn-gray;
		}
	}
}
