.create-staff-page {
	.card {
		width: 71.6rem;

		&__title {
			margin-bottom: 0.9rem;
		}

		&__header {
			margin-bottom: 4.37rem;
		}

		.row > .col-6:nth-child(2n) {
			padding-left: 3.75rem;
		}

		.row > .col-6:nth-child(2n-1) {
			padding-right: 3.75rem;
		}
	}

	.badge {
		height: 14px;
		display: inline;
		vertical-align: middle;
	}

	.form__label {
		line-height: 2rem;
	}

	button {
		margin-top: 0;
	}

	.btn-submit {
		width: 12rem;
		height: 4rem;
		padding: 0.55rem 2.55rem 0.85rem;
	}

	.btn-gender {
		width: 18rem;
		height: 4rem;
		padding: 0.55rem 2.55rem 0.85rem;
		font-size: 1.4rem;
		border: solid 1px $color-input;
		border-radius: 0.4rem;
		background-color: $color-white;
		color: $color-input;
		border: solid 1px $color-btn-gray;

		&.--color {
			@extend .btn;
			width: 18rem;
			height: 3.5rem;
			padding: 0.55rem 2.55rem 0.85rem;
			font-size: 1.4rem;
			border: solid 1px $color-input;
			border-radius: 0.4rem;
			margin-top: 0;
			height: 4rem;
			letter-spacing: unset;
		}

		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}

	.select-box {
		padding: 0.5rem 5.7rem 0.5em 2.2rem;
	}

	option {
		color: black;
	}

	.separator {
		&__label {
			border-bottom: unset;
			margin: 5.5rem 0 3.33rem 0;
		}
	}

	.buttons-action {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__back {
			margin-top: 1rem;
			color: $color-fa-time;
		}

		&__back:hover {
			color: $color-black;
		}
	}

	@media screen and (max-width: 768px) {
		.card__body {
			.col-6 {
				width: 100%;
				padding-right: unset !important;
				padding-left: unset !important;
			}
			.col-4 {
				width: 26%;
			}
			.btn-gender {
				padding: unset;
				width: 100%;
			}

			.btns-gender {
				.row {
					justify-content: space-around;
					.col-4:nth-child(3) {
						width: 36%;
					}
				}
			}
			.row > * {
				padding-left: unset;
				padding-right: unset;
			}
		}
	}

	@media screen and (max-width: 425px) {
		.form__group {
			margin-bottom: 1rem;
		}
		.buttons-action {
			margin-top: 3rem;
		}
	}
}
