.page-company-create {
	margin: 0rem 11rem 0rem 11rem;
	.card__title {
		margin-bottom: 0.9rem;
	}
	.card__desc {
		margin-bottom: 4.4rem;
	}
	.about-us {
		border-bottom: 1px solid $color-separate;
		padding-bottom: 0.68rem;
		line-height: 1.2;
		padding-left: 0.5rem;
		i {
			margin-left: 1rem;
		}
	}
	.badge {
		padding: 0rem 0.8rem;
		line-height: 1.9;
	}
	.mutiple-form {
		display: flex;
		justify-content: space-between;
	}
	.form__left {
		padding: 0 3.3rem 0 0;
	}
	.form__right {
		padding: 0 0 0 3.3rem;
	}

	.column {
		padding: 0 2.1rem;
	}

	.btn.--md {
		margin-top: 4.2rem;
	}

	.readonly-create-company {
		.form__left {
			padding: 0rem 3.8rem 0rem 0rem;
		}
		.form__right {
			padding: 0rem 0rem 0rem 3.8rem;
		}
		.form__group {
			margin-bottom: 1.3rem;
		}
		.form__label {
			line-height: 1.4;
			color: $color-link-text;
			font-size: 1.2rem;
		}
		p.border-bottom {
			margin-bottom: unset;
			line-height: 1.4;
			font-weight: 500;
			min-height: 2.2rem;
		}
		.btn.--md {
			margin-top: 1.6rem;
		}
		.form__label,
		p.border-bottom {
			padding-left: 0.5rem;
		}
		#back-to-create {
			cursor: pointer;
		}
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.form-row-large {
		display: flex;
		align-items: flex-end;
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
	}

	@media screen and (max-width: 768px) {
		margin: 0;

		.form__left {
			padding: 0rem 1.5rem 0rem 0;
		}

		.form__right {
			padding: 0rem 0 0rem 1.5rem;
		}

		.btn.--md {
			margin-top: 4rem;
		}

		.about-us.u-mb-35 {
			margin-bottom: 2.4rem;
		}

		.about-us.text-lg.u-mt-55.u-mb-35 {
			margin-bottom: 1rem !important;
			margin-top: 4rem;
		}

		.page-company-create.card__desc {
			margin-bottom: 4rem;
		}

		.color-desc.u-pl-43{
			padding-left: 0!important;
		}
	}

	@media screen and (max-width: 567px) {
		.form__group.col-12.col-sm-6 {
			padding: 0;
		}

		.form__group {
			margin-bottom: 1rem;
		}

		.column {
			padding: 0 0.5rem;
		}

		.u-mt-26 {
			margin-top: 1rem !important;
		}

		.form__group.column.checkbox-button.u-mb-0:nth-child(1) label,
		.form__group.column.checkbox-button.u-mb-0:nth-child(2) label {
			width: 9rem;
		}

		.form-row-large {
			justify-content: space-between;
		}

		.form-row-large .column {
			flex-basis: unset;
		}

		.checkbox-button__btn {
			font-size: 1.3rem;
		}
	}

	@media screen and (max-width: 413px) {
	}

	@media screen and (max-width: 375px) {
		.form__group.column.checkbox-button.u-mb-0:nth-child(1) label,
		.form__group.column.checkbox-button.u-mb-0:nth-child(2) label {
			width: 6rem;
		}

	}

	@media screen and (max-width: 320px) {
	}
}
