.detail-company-page .info-company {
	&__header {
		position: relative;
		margin-bottom: 3rem;
		display: flex;
		align-items: center;
	}

	&__footer {
		text-align: center;
	}
	&__mutiple {
		display: flex;
		justify-content: space-between;
		div:nth-child(1) {
			width: 50%;
			padding-right: 4rem;
		}
		div:nth-child(2) {
			width: 50%;
			padding-left: 4rem;
		}
	}
	&__only {
		width: 50%;
		padding-right: 4rem;
	}
	&__title {
		display: inline-block;
		padding-bottom: 2.7rem;
		line-height: 0.94;
	}
	#btn-change {
		margin-top: 0rem;
		position: absolute;
		right: 0px;
		i {
			padding-right: 1rem;
		}
	}
	#btn-confirm,
	#btn-save {
		display: block;
		margin-bottom: 1.1rem;
	}
	.form__group {
		margin-bottom: 1.3rem;
	}
	.form__label {
		line-height: 1.4;
		color: $color-link-text;
		font-size: 1.2rem;
	}
	p.border-bottom {
		margin-bottom: unset;
		line-height: 1.4;
		font-weight: 500;
		min-height: 2.2rem;
	}
	.form__input {
		display: block;
	}
	p.border-bottom {
		display: none;
	}

	.form-read-only #select-box-edit-price {
		display: none;
	}

	.form-read-only .only-df-mb {
		margin-bottom: 3.6rem !important;
	}
	.total-members {
		span {
			margin-right: 5rem;
		}
	}

	@media screen and (max-width: 768px) {
	}

	@media screen and (max-width: 567px) {
		&__only {
			width: 100%;
			padding-right: 0;
		}

		&__mutiple {
			flex-wrap: wrap;

			div:nth-child(1) {
				width: 100%;
				padding-right: 0;
			}
			div:nth-child(2) {
				width: 100%;
				padding-left: 0;
			}
		}

		&__title {
			padding-bottom: 1.7rem;
		}

		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
		}

		.form__group {
			padding: 0;
			margin-bottom: 1rem;
		}

		.form-read-only .only-df-mb {
			margin-bottom: 1rem !important;
		}

		.total-members{
			display: flex;
			flex-flow: column;
		}

		.total-members span {
			margin-bottom: 1rem;
		}
	}
}
