.invite-member-page {
    display: flex;
	background-color: $color-background-body;

	&__main {
		width: 60rem;
		height: 60rem;
		display: flex;
		margin: auto;
	}

	&__content {
		background-color: $color-bg-search-form-header;
		width: 40rem;
		height: 20rem;
		display: flex;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__title{
		margin-bottom: 4rem;
	}
}
