.create-confirm,
.edit-confirm {
	.input-confirm {
		width: 100%;
		cursor: unset;
		background: unset;

		&:focus-visible {
			outline: none;
		}

		&:focus {
			border: 1px solid #ced4da;
		}
	}
}

input:read-only {
	cursor: default;
}
