.modal {
	width: calc(100% - 25rem);
	margin-left: 25rem;

	&.--expand {
		margin: 0;
		width: 100%;
	}

	background-color: $color-background-modal;

	.btn {
		padding: 0.3rem 0.3rem;
		margin: 0rem 0rem 0rem 1.85rem;
		&.btn-cancel-delete {
			margin: 0rem;
			width: 10rem;
		}
	}

	.btn-close {
		color: $color-fa-time;
		text-decoration: unset;

		&:hover {
			color: $color-black;
		}
	}

	.checkbox__input {
		margin-right: 1.24rem;
	}

	button {
		width: 14rem;
		height: 4rem;
	}

	&-dialog {
		margin: 8rem auto;
	}

	&-content {
		border: solid 1px $color-border-default;
		box-shadow: 0 3px 6px 0 $color-border-box-shadow;
	}
	&-footer {
		border-top: unset;
		padding: 3.7rem 4rem 2.65rem 4rem;
	}
	&-header {
		border-bottom: unset;
		padding: 3.6rem 4rem 0rem 4rem;
	}
	&-body {
		padding: 2.3rem 4rem 0rem 4rem;
		text-align: left;
	}

	.fade &-dialog {
		transform: translate(0, -8rem);
	}

	&.--sm {
		&-dialog {
			margin: 8rem auto;
		}
	}
	&-backdrop {
		background-color: unset;
	}
	&-main {
		max-width: 50rem;
		margin: auto;
	}
	&.--not-layout {
		width: 100%;
		margin-left: unset;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		margin: 0;
		.modal-header {
			padding-top: 3.5rem;
		}

		.modal-footer {
			padding-bottom: 3.1rem !important;
		}
	}

	@media screen and (max-width: 414px) {
		padding: 0 0.8rem;
		margin: 0;
		width: 100%;

		.modal-header,
		.modal-body,
		.modal-footer {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	@media screen and (max-width: 375px) {
	}

	@media screen and (max-width: 320px) {
	}

	@media screen and (max-width: 576px) {
		padding: 0 0.8rem;
	}
}
