.maintenance-list-page {
	.card-table {
		margin-top: 2.2rem;
		word-break: break-all;
	}

	.content-header {
		margin-bottom: 1rem;
	}

	.column {
		text-align: left;

		&.--note {
			width: 34rem;
		}
	}

	.thead-date{
		min-width: 11rem;
	}
	.thead-note{
		min-width: 15rem;
	}
	.thead-status{
		min-width: 12rem;
	}

	.dataTables_wrapper {
		word-break: break-word;
	}

	.action {
		width: 11rem;
		min-width: 11rem;
	}

	.btn-add-maintenance {
		margin: unset;
	}

	button:focus-visible{
		outline: none;
	}

	.btn-confirm-delete,
	.btn-confirm-update,
	.btn-confirm-finish {
		width: 4rem;
		border: unset;
		color: $color-link-text;
		font-size: 1.8rem;
		background: transparent;

		&:hover {
			color: $color-black;
		}
	}

	.btn-confirm-finish {
		color: $color-danger-disabled;

		&:hover {
			color: $color-danger;
		}
	}

	.status {
		color: $color-white;
		border: solid 1px;
		padding: 0.6rem 0.5rem;
		width: 8rem;
		display: block;
		text-align: center;
		border-radius: 0.4rem;

		&.--active {
			background-color: $color-success;
		}

		&.--finished {
			background-color: $color-text-note;
		}

		&.--waiting {
			background-color: $color-warning;
		}
	}

	.confirm-maintenance, .create-maintenance{
		margin-bottom: 2rem;
	}

	.modal-footer {
		padding-top: 0;
	}

	@media screen and (max-width: 768px) {
		.main-content-heading-main {
			margin-right: 0;
		}
	}

	@media screen and (max-width: 567px) {
		.form__input, .form__textarea {
			padding: 0.9rem 1rem;
		}
	}
}
