.page-setting-edit-resume {
	color: $color-input !important;

	.page-title {
		color: $color-primary-text;
	}

	.content-title {
		@extend .text-sm;
		line-height: 1.62;
	}

	.text-note {
		@extend .text-xs;
		line-height: 1.91;
	}

	.image-template {
		position: relative;
		width: 9rem;
	}

	.icon-check {
		position: absolute;
		right: 0.6rem;
		top: 0.9rem;
		color: $color-primary;
	}

	.img-template {
		width: 9rem;
		height: 13.7rem;
		margin: 0.7rem 0 1.55rem 0;
		border: solid 0.1rem $color-btn-gray;
		cursor: pointer;

		&.--selected {
			border: solid 0.2rem $color-border-img;
		}
	}

	.modal-content {
		width: 61.6rem;
		padding: 6.1rem 6.8rem 3.7rem 6.8rem;
	}

	.modal-title-cv {
		margin: 0 11.38rem 1.6rem 11.33rem;
		font-size: 1.4rem;
		line-height: 1.86;
		letter-spacing: 0.14rem;
		color: $color-primary-text;
	}

	.modal-content-cv {
		@extend .text-md;
		display: block;
		margin: 1.6rem 0 3.3rem;
		line-height: 1.64;
	}

	.carousel-control-prev,
	.carousel-control-next {
		&.--disabled:hover {
			opacity: 0.5 !important;
			cursor: default;
		}

		&.--disabled img:hover {
			cursor: default;
		}
	}

	.img-template-modal {
		width: 28rem;
		height: 42.6rem;
		margin: 0 3.68rem 1.4rem 3.68rem;
		border: 0.2rem solid $color-border-img;
	}

	.btn-save {
		margin-left: 0;
		margin-bottom: 0.7rem;
	}

	.cancel-link {
		@extend .text-md;
		line-height: 1.75;
		color: $color-link-text;
	}

	.modal-dialog {
		max-width: 61.6rem;
	}

	@media screen and (max-width: 768px) {
		.modal-content {
			width: 56rem;
			margin: auto;
			padding: 6rem 1.8rem 3.7rem 1.8rem;
		}

		.carousel-control-prev,
		.carousel-control-next {
			bottom: 4rem;
			top: unset;
		}

		.carousel-control-prev {
			right: 4rem;
			left: unset;
		}

		.img-template-modal {
			width: 28rem;
			max-height: 42rem;
			margin-left: 0;
			margin-right: 0;
		}

		.modal-title-cv {
			margin: unset;
		}

		.modal-content-cv {
			font-size: 1.2rem;
		}

		.mb-10 {
			margin-bottom: 10rem;
		}
	}

	@media screen and (max-width: 576px) {
		.modal-dialog {
			margin-left: 0.8rem;
			margin-right: 0.8rem;
		}

		.modal-content {
			width: auto;
			margin: 0;
		}

	}

	@media screen and (max-width: 414px) {
		.modal-content-cv {
			font-size: 1rem;
		}
	}

	@media screen and (max-width: 375px) {
		.modal-content {
			padding: 3rem 1rem 2.7rem 1rem;
		}

		.modal-content-cv {
			margin: 1.6rem 0 1.5rem;
		}
		.img-template-modal {
			width: 26rem;
		}
	}

	@media screen and (max-width: 320px) {
	}
}
