.change-password {
	.btn {
		margin-top: 5.02rem;
		width: 100%;
	}

	.card-success {
		height: 23.8rem;
		margin: 13.9rem 0 23.3rem 4.8rem;
		padding: 3.86rem 3.98rem 3.96rem 4.02rem;
	}

	.title-success {
		@extend .text-xl;
		margin-bottom: 2.34rem;
		line-height: 0.94;
		color: #222;
	}

	.content-success {
		@extend .text-md;
		margin-bottom: 3.89rem;
		line-height: 1.5;
		letter-spacing: 0.14rem;
	}

	.btn-success {
		margin-top: 0 !important;
	}
}
.forgot-password {
	@media screen and (max-width: 768px) {
		.card-success {
			margin: 18rem 0 0 0 !important;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
			border: solid 1px $color-border-default;
			background-color: $color-white;
		}

		.main-content-heading {
			margin: 4rem 0;
			padding: 0 0.8rem;
		}
	}

	@media screen and (max-width: 425px) {
		.card-success {
			margin: 9rem 0 0 0 !important;
		}
	}

	@media screen and (max-width: 375px) {
		.card-success {
			margin: 4rem 0 0 0 !important;
		}
	}
}
